@import "tailwindcss";

@theme {
  --color-primary: #F28D95;
  --color-secondary: #D91A3D;
  --color-neutral-light: #F9F9F9;

  --font-sans: "Inter", system-ui, "Avenir", "Helvetica", "Arial", sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-white text-gray-800;
  background-image: radial-gradient(circle at 10% 20%, #F9F9F9 0%, #FFFFFF 90%);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.2s ease-in-out 0s 2;
}